body{
	background: rgb(0,34,61);
	
	color: #fff;
}
.navbar{
	background:rgb(0,34,61);
	border-width: 0;
	color: #fff;
}
#myNavbar .active{
	background: rgb(0,34,61);
}

.row{
	background: #fff;

	color: rgb(0,34,61);
}
footer{
	background: rgb(0,34,61);
	color: #fff;
	/*position: absolute;
	bottom: 0;
	right:0;
	left:0;*/

}

footer .row{
	color: #fff;
	background: rgb(0,34,61);

}
.row .col-md-6{
	padding: 30px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	color: rgb(0,34,61);
	background: rgba(255,255,255,.7);
}
.navbar-inverse .navbar-nav li:hover,.navbar-inverse .navbar-nav li:active{
	color: rgb(0,34,61);
	background: #fff;

}
.navbar-inverse .navbar-nav li:hover a, .navbar-inverse .navbar-nav li:active a{
	color:rgb(0,34,61) ;
}

footer li{
	display: inline-block;
	margin: 0 30px;
}
footer .footer-copyright{
	width: 300px;
	margin: 0 auto;
}
form div{
	margin-top: 20px;	
}
form .button{
	margin-top: 30px;	
}
.button{
	color: #fff;
	background: rgb(0,34,61);
	width: 100px;
	height: 50px;
	border-radius: 6px;
	border-width: 0;
	box-shadow: 0 5px 0 rgb(0,20,51);
}
.button a{
	color: #fff;
}

.button:active{
	transform: translateY(3px);
	box-shadow: 0 2px 0 rgb(0,20,51)
}

.test{
	text-align: center;
}
.test p{
	text-align: left;
}
.test span{
	float: right;
	text-align: right;
	font-style: italic;
}

.deals{
	padding: 30px;
	text-align: center;
}

.deals .div[data="info"]{
	margin: 30px 0;
}

.cart .big{
	width: 200px;
	float: right;
	margin: 30px 0 30px 20px;
}

thead{
	background: rgb(0,34,61);
	color: #fff;
	border-radius: 6px 6px 0 0;
}

.large{
	width: 100%;
	height:200px;
}
.hero{
	margin-top: 0;
}

.hero img{
	
	width: 100%;
}

.carousel .carousel-inner .item{
	max-height: 200px;
}

.deals img{
	max-height: 150px;
}

.superhero{
	background: transparent;
	color: #fff;
	text-align: center;
	padding-bottom: 10px;

}

.superhero h1{
	font-weight: 100;
}

.superhero h3{
	color:#707070;
	letter-spacing: 0.1em;

}

.superhero h3 span{
	font-style: italic;
	font-size: 30px;
	font-variant: small-caps;
}

.heading{
	background: linear-gradient(to top,#fff,#555);
	text-align: center;
	padding: 50px;
	color: rgb(0,31,64);

}

.heading h1{
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 0.1em;
}

.about{
	text-align: justify;
}

.logo , .logo img{
	padding: 0 ;
	margin: 0;
	height: 200px;
	width: 400px;
}

.about .logo{
	padding: 30px 0;
}

.category ul li{
	line-height: 40px;
	font-size: 22px;
}
.category a:hover{
	text-decoration: none;
	font-weight: 300;
	transition: all .5s linear;
	font-size: 25px;
}